body {
  margin-top: 20px;
  background-color: black;
}

.container {
  /* border: 3px solid rgb(112, 65, 65);  */
  border: 3px solid rgb(29, 17, 59); 
  width: 20rem;
  height: 30rem;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 20%,
    rgba(60, 4, 0, 1) 80%,
    rgb(116, 10, 0) 100%
  );
  overflow: auto;
  padding: 10px;
}

.playlist {
  color: gray;
}

.interactions {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  right: 0;
  bottom: 0;
}

.btn {
  color: gray;
  padding: 0px;
  width: 60px;
  height: 40px;
  margin: 5px;
  background: rgba(rgb(60, 4, 0), 0.1);
}

.btn:hover,
.btn:active {
  background-color: #3c0400 !important;
}

li:hover {
  color: aliceblue;
  cursor: pointer;
}
/* hr {
  position: sticky;
  color: aliceblue;
} */
